/*Slider Variables*/
/*Mixins*/
body {
  background-color: #ffffff; }

.slider {
  display: inline-block;
  position: relative;
  height: 14px;
  width: 300px;
  margin: 25px 5px 25px 5px;
  vertical-align: middle; }

.slider span {
  white-space: nowrap;
  position: absolute;
  display: inline-block; }
.slider span.base {
  width: 100%;
  height: 100%;
  padding: 0; }
.slider span.bar {
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  background: #ffffff;
  -webkit-box-shadow: inset 0px 0px 2px #464242;
  box-shadow: inset 0px 0px 2px #464242; }
.slider span.fill {
  height: 100%;
  z-index: 0;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  background-color: #3F93CB;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3F93CB), to(#3F93CB));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #3F93CB, #3F93CB);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #3F93CB, #3F93CB);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #3F93CB, #3F93CB);
  /* IE10 */
  background-image: -o-linear-gradient(top, #3F93CB, #3F93CB);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #3F93CB, #3F93CB);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3F93CB', EndColorStr='#3F93CB');
  -webkit-box-shadow: inset 1px 1px 1px #464242;
  box-shadow: inset 1px 1px 1px #464242; }
.slider span.pointer {
  cursor: pointer;
  width: 28px;
  height: 28px;
  top: -9px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 2;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em; }
.slider span.pointer:after {
  content: '';
  background-color: #808080;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 8px;
  left: 8px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em; }
.slider span.pointer:hover:after {
  background-color: #000; }
.slider span.pointer.active:after {
  background-color: #404B96; }
.slider span.bubble {
  cursor: default;
  top: -22px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif; }
.slider span.bubble.selection {
  top: 15px; }
.slider span.bubble.limit {
  color: #808080; }
